<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace=绑定一个对应的Mapper接口-->
<mapper namespace="com.oldwang.dao.UserMapper">

    <!--结果集映射-->
    <resultMap id="resultUser" type="User">
        <!--column数据库中的字段，property实体类中的属性-->
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="pwd" column="pwd"/>
    </resultMap>

    <!--select查询语句-->
    <select id="getUserList" resultMap="resultUser">
       select * from mybatis.user
    </select>

    <select id="getUserById" parameterType="int" resultType="com.oldwang.pojo.User">
       select * from mybatis.user where id = #{id}
    </select>

    <!--对象中的属性可以直接取出来-->
    <insert id="addUser" parameterType="com.oldwang.pojo.User" >
        insert into mybatis.user (id,name,pwd) values (#{id},#{name},#{pwd})
    </insert>

    <!--修改用户-->
    <update id="updateUser" parameterType="com.oldwang.pojo.User">
        update mybatis.user set name = #{name},pwd=#{pwd} where id = #{id}
    </update>

    <!--删除用户-->
    <delete id="deleteUser" parameterType="int">
        delete from mybatis.user where id = #{id}
    </delete>

    <!--map插入用户-->
    <insert id="addUserByMap" parameterType="java.util.Map">
         insert into mybatis.user (id,name,pwd) values (#{id},#{name},#{pwd})
    </insert>

    <!--模糊查询-->
    <select id="getUserByLike" parameterType="java.lang.String" resultType="com.oldwang.pojo.User">
        select * from mybatis.user where name like "%"#{userName}"%"
    </select>


    <!--分页查询-->
    <select id="getLimitUser" resultType="User" parameterType="java.util.HashMap">
        select * from mybatis.user limit #{start},#{end}
    </select>

    <select id="getUserByRowBounds"  resultType="User">
         select * from user
    </select>

</mapper>